/*
 Theme Name:     Qlokast Theme (Child Theme)
 Description:    A Twentysixteen Child Theme
 Author:         Qlokast Crew		
 Template:       twentysixteen
 Version:        0.0.1
*/
 
@import url("../twentysixteen/style.css");
 
/* =Theme customization starts here
------------------------------------------------------- */

body {
	background-color: green;
}

.category-behind{
  color:red;
}

.menu {
  margin: 0 auto;
  padding: 0;
}

.menu li { list-style: none; }

.menu li a {
  display: table;
  margin-top: 1px;
  width: 100%;
  text-decoration: none;
  text-align: left;
  overflow: hidden;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.menu > li:first-child a { margin-top: 0; }

.menu li a:hover {
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.menu li ul {
  margin: 0;
  padding: 0;
}

.menu li li a {
  display: block;
  margin-top: 0;
  padding: 0 10px;
  height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.menu li:hover li a {
  display: table;
  margin-top: 1px;
  padding: 10px;
  width: 100%;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.menu li:hover li a:hover {
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

