/*
 Theme Name:     Qlokast Theme (A Twentysixteen Child Theme)
 Description:    A Twentysixteen Child Theme
 Author:         Qlokast Crew		
 Template:       twentysixteen
 Version:        0.0.1
*/
 
@import url("../twentysixteen/style.css");
 
/* =Theme customization starts here
------------------------------------------------------- */

body{
  font-family: Montserrat;
}

.studentReportStatus-no {
  color:red;
}

.grade {
  text-transform: uppercase;
}

hr{
  margin-top: 20px;
}

.site-branding .site-title a {
  color: #007acc;
  font-size: 50px;
}

/* Collapsible tree menu */
#menutree li {
   list-style: none;          /* all list item li dots invisible */
         }

   li .menu_label + input[type=checkbox] {
      opacity: 0;             /* checkboxes invisible and use no space */
     }                        /* display: none; is better but fails in ie8 */

    li .menu_label {
      cursor: pointer;        /* cursor changes when you mouse over this class */
    }                         /* could add the many user-select: none; commands here */

      li .menu_label + input[type=checkbox] + ul > li
         {
            display: none;         /* prevents sublists below unchecked labels from displaying */
         }

      li .menu_label + input[type=checkbox]:checked + ul > li
         {
           display: block;         /* display submenu on click */
         }

.expandmenu{
	font-size: 18px;
	font-weight: bold;
  font-family: arial;
}

.student_profile{
  border-style: solid;
}